@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "bootstrap/dist/css/bootstrap.min.css";
@import 'ngx-toastr/toastr';

html, body {
    height: 100%;
    margin: 0;
}

.toast-container {
  position: fixed;
  z-index: 9999;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-success {
  background-color: #51A351;
}

.toast-error {
  background-color: #BD362F;
}

.toast-info {
  background-color: #2F96B4;
}

.toast-warning {
  background-color: #F89406;
}