<div
  class="modal-backdrop d-flex justify-content-center align-items-center bg-dark bg-opacity-50"
  (click)="closeModal()"
>
  <div
    class="modal-content bg-white text-dark rounded-4 shadow-lg p-5 position-relative"
    style="max-width: 500px; width: 90%;"
    (click)="$event.stopPropagation()"
  >
    <button
      class="btn-close position-absolute top-0 end-0 m-3 text-secondary"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
    <div class="text-center">
      <div [ngClass]="iconClass" class="fs-1 mb-3"></div>
      <h2 class="fs-2 fw-bold mb-4" [ngClass]="textClass">{{ statusTitle }}</h2>
      <p class="text-secondary">{{ message }}</p>
    </div>
    <div class="text-center mt-4">
      <button
        class="btn px-4 py-2"
        [ngClass]="buttonClass"
        (click)="closeModal()"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
