<!--  -->
<section class="mt-4">
  <form [formGroup]="employeesGridForm" (ngSubmit)="searchEmployees()" class="text-center">
    <div class="mb-3">
      <label for="EmployeeIdFinder" class="form-label">
        Search Employee
      </label>
      <input type="text" id="EmployeeIdFinder" name="EmployeeIdFinder"
        class="form-control w-50 mx-auto bg-secondary text-white border-0 shadow-sm" placeholder="Enter Employee ID"
        [formControl]="employeesGridForm.controls.id">
    </div>
    <div>
      <button [disabled]="isLoading" type="submit" class="btn btn-light me-2">
        <span>Search</span>
      </button>
    </div>
  </form>
</section>

<!-- Tabla -->
<section class="mt-5">
  <div class="table-responsive" *ngIf="!isLoading">
    <table class="table table-striped table-hover table-dark text-center">
      <thead>
        <tr>
          <th>Id</th>
          <th>Photo</th>
          <th>Name</th>
          <th>Age</th>
          <th>Salary</th>
          <th>Annual Salary</th>
        </tr>
      </thead>
      <tbody *ngFor="let employee of employees">
        <tr *ngIf="!isLoading">
          <td>{{employee.id}}</td>
          <td>
            <img [src]="employee.profileImg" alt="Imagen de {{employee.name}}" width="30" class="rounded-circle"
              (error)="employee.profileImg = 'assets/default-profile.png'" />
          </td>
          <td>{{employee.name}}</td>
          <td>{{employee.age}}</td>
          <td>{{employee.salary | currency}}</td>
          <td>{{employee.anualSalary | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>

  <app-modal *ngIf="isModalVisible" (close)="closeModal()" [modalType]="modalInput.modalType"
    [message]="modalInput.message">
  </app-modal>

</section>